@import 'tailwindcss';
@import './assets/fonts.css';

@theme {
  --fontRatio: calc(32 / 27);
  --minFontSize: calc(16 / var(--fontRatio)) * 1px;
  --note00: clamp(var(--minFontSize), var(--fontSizeGrow), 1000000000px);
  --note01: calc(var(--note00) * var(--fontRatio));
  --note02: calc(var(--note01) * var(--fontRatio));
  --note03: calc(var(--note02) * var(--fontRatio));
  --note04: calc(var(--note03) * var(--fontRatio));
  --note05: calc(var(--note04) * var(--fontRatio));
  --note06: calc(var(--note05) * var(--fontRatio));
  --note07: calc(var(--note06) * var(--fontRatio));
  --note08: calc(var(--note07) * var(--fontRatio));
  --note09: calc(var(--note08) * var(--fontRatio));
  --note10: calc(var(--note09) * var(--fontRatio));

  --minFontSizeVW: calc(16 / var(--fontRatio)) * 1vw;
  --note00VW: clamp(var(--minFontSizeVW), 1vw, 1000000000px);

  --bodyMinWidth: calc(100 / var(--fontRatio) * var(--note01) / 2);
  --bodyMinWidthVW: calc(100 / var(--fontRatio) * var(--note01VW) / 2);
  --fontSizeGrow: 1vw;
}

html {
  background: #f9f9f9;
}

* {
  font-family: 'Caslon';
  font-kerning: normal;
}

main {
  width: 50vw;
  min-width: var(--bodyMinWidth);
  margin: auto;
}

main.main--wide {
  width: 100vw;
  max-width: 1140px;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  margin-top: var(--note05);
  margin-bottom: var(--note00);
}

h2 {
  font-family: 'Caslon';
  font-size: var(--note04);
  line-height: var(--note06);
  margin-bottom: 10px;
  font-weight: 700;
}

h3 {
  font-family: 'Caslon';
  font-style: normal;
  font-weight: 800;
  text-align: left;
  font-size: var(--note03);
  margin-top: var(--note10);
  margin-bottom: var(--note00);
  color: #17181b;
}

h4 {
  font-family: 'Caslon';
  font-style: normal;
  font-weight: normal;
  text-align: left;
  font-size: var(--note01);
  line-height: var(--note05);
  color: #555;
}

.router-link {
  font-family: 'Caslon';
  font-size: var(--note02);
  line-height: var(--note04);
  text-align: center;
  border-bottom: 1px solid lightgray;
  padding: 16px;
}

p {
  font-family: 'Caslon';
  font-weight: 100;
  font-size: var(--note02);
  line-height: var(--note04);
  margin-bottom: var(--note06);
  color: #17181b;
  hyphens: auto;
  text-align: left;
}

li {
  font-family: 'Caslon';
  font-size: var(--note02);
  line-height: var(--note04);
}

ul {
  margin-bottom: var(--note06);
}

code {
  font-family: 'DMMono';
  font-size: var(--note00);
  line-height: var(--note02);
  color: #f0f0f0;
  background-color: #282e39;
  display: block;
  padding: 0;
  padding-left: var(--note01);
  padding-bottom: var(--note01);
  padding-top: var(--note01);
  margin: 0;
  margin-bottom: var(--note00);
  border-radius: 8px;
}

blockquote::before {
  content: '\201C';
  font-family: 'Caslon-SC';
  font-size: var(--note05);
  position: absolute;
  margin-left: -0.5em;
  margin-top: -0.2em;
  color: #404040;
}

blockquote {
  quotes: inherit;
  text-align: justify;
  margin-left: 1.5em;
}
