@import 'tailwindcss';

* {
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.2em;
}
